In [11]:
#1
is_married = False

In [13]:
is_true = True

In [15]:
first_name = input("Enter your first name: ")
last_name = input("Enter your last name: ")
country = input("Enter your country: ")
age = int(input("Enter your age: "))

Enter your first name:  Sulani
Enter your last name:  Kuruppu Arachchi
Enter your country:  Sri Lanka
Enter your age:  23

In [17]:
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               class               from                or
None                continue            global              pass
True                def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield
break               for                 not

In [ ]:
#2

In [19]:
#a)
# Prompt user for base and height
base = float(input("Enter the base of the triangle: "))
height = float(input("Enter the height of the triangle: "))

# Calculate area
area = 0.5 * base * height
print("The area of the triangle is:", area)

Enter the base of the triangle:  8
Enter the height of the triangle:  10

The area of the triangle is: 40.0

In [21]:
#b)
# Prompt user for sides
a = float(input("Enter side a: "))
b = float(input("Enter side b: "))
c = float(input("Enter side c: "))

# Calculate perimeter
perimeter = a + b + c
print("The perimeter of the triangle is:", perimeter)

Enter side a:  5
Enter side b:  5
Enter side c:  10

The perimeter of the triangle is: 20.0

In [23]:
#c)
# Prompt user for number of years
years = int(input("Enter number of years you want to calculate: "))

# Calculate seconds (assuming 1 year = 365 days)
seconds = years * 365 * 24 * 60 * 60
print(f"A person can live for {seconds} seconds in {years} years.")

Enter number of years you want to calculate:  100

A person can live for 3153600000 seconds in 100 years.

In [25]:
#d)
for i in range(1, 6):
    print(i, 1, i, i**2, i**3)

1 1 1 1 1
2 1 2 4 8
3 1 3 9 27
4 1 4 16 64
5 1 5 25 125

In [27]:
#e)
sentence = "I hope this course is not full of jargon."
print("jargon" in sentence)  # Returns True if found

True

In [ ]:
#3

In [31]:
#a)
part1 = 'Thirty'
part2 = 'Days'
part3 = 'Of'
part4 = 'Python'

# Concatenate with space between
full_string = part1 + ' ' + part2 + ' ' + part3 + ' ' + part4
print(full_string)  # Output: Thirty Days Of Python

Thirty Days Of Python

In [33]:
#b)
sentence = 'You cannot end a sentence with because because because is a conjunction'
position = sentence.find('because')
print("The first occurrence of 'because' is at index:", position)

The first occurrence of 'because' is at index: 31

In [35]:
#c)
sliced = sentence[31:54]
print("Sliced phrase:", sliced)

Sliced phrase: because because because

In [37]:
#d)
company = 'Coding For All'
print(company.startswith('Coding'))

True

In [ ]:
#4

In [39]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [41]:
#a)
ages.sort()
print("Sorted ages:", ages)

min_age = min(ages)
max_age = max(ages)

print("Minimum age:", min_age)
print("Maximum age:", max_age)

Sorted ages: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26]
Minimum age: 19
Maximum age: 26

In [43]:
#b)
ages.append(min_age)
ages.append(max_age)
print("Ages after adding min and max again:", ages)

Ages after adding min and max again: [19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [45]:
#c)
ages.sort()  # Sort again after appending
length = len(ages)

if length % 2 == 0:
    # Even number of elements — average the two middle values
    median = (ages[length//2 - 1] + ages[length//2]) / 2
else:
    # Odd number of elements — take the middle value
    median = ages[length//2]

print("Median age:", median)

Median age: 24.0

In [ ]:
#5

In [47]:
#a)
empty_tuple = ()
print("Empty tuple:", empty_tuple)

Empty tuple: ()

In [49]:
#b)
sisters = ("Anna", "Bella")
brothers = ("Tom", "Jake")
print("Sisters:", sisters)
print("Brothers:", brothers)

Sisters: ('Anna', 'Bella')
Brothers: ('Tom', 'Jake')

In [51]:
#c)
siblings = sisters + brothers
print("Siblings:", siblings)

Siblings: ('Anna', 'Bella', 'Tom', 'Jake')

In [53]:
#d)
num_siblings = len(siblings)
print("Number of siblings:", num_siblings)

Number of siblings: 4

In [55]:
#e)
parents = ("Jhon", "Mary")
family_members = siblings + parents
print("Family members:", family_members)

Family members: ('Anna', 'Bella', 'Tom', 'Jake', 'Jhon', 'Mary')

In [ ]:
#6

In [57]:
#a)
dog = {}
print("Empty dog dictionary:", dog)

Empty dog dictionary: {}

In [59]:
#b)
dog = {
    "name": "Buddy",
    "color": "Brown",
    "breed": "Labrador",
    "legs": 4,
    "age": 5
}
print("Dog dictionary:", dog)

Dog dictionary: {'name': 'Buddy', 'color': 'Brown', 'breed': 'Labrador', 'legs': 4, 'age': 5}

In [61]:
#c)
student = {
    "first_name": "John",
    "last_name": "Doe",
    "gender": "Male",
    "age": 21,
    "marital_status": "Single",
    "skills": ["Python", "Data Analysis"],
    "country": "Sri Lanka",
    "city": "Colombo",
    "address": "123 Main Street"
}
print("Student dictionary:", student)

Student dictionary: {'first_name': 'John', 'last_name': 'Doe', 'gender': 'Male', 'age': 21, 'marital_status': 'Single', 'skills': ['Python', 'Data Analysis'], 'country': 'Sri Lanka', 'city': 'Colombo', 'address': '123 Main Street'}

In [63]:
#d)
length = len(student)
print("Number of keys in student dictionary:", length)

Number of keys in student dictionary: 9

In [65]:
#e)
skills = student["skills"]
print("Skills:", skills)
print("Type of skills:", type(skills))  # Should be <class 'list'>

Skills: ['Python', 'Data Analysis']
Type of skills: <class 'list'>

In [67]:
#f)
student["skills"].append("Machine Learning")
student["skills"].append("SQL")
print("Updated skills:", student["skills"])

Updated skills: ['Python', 'Data Analysis', 'Machine Learning', 'SQL']

In [ ]:
#7

In [69]:
#a)
score = int(input("Enter the student's score (0-100): "))

if 80 <= score <= 100:
    grade = 'A'
elif 70 <= score <= 79:
    grade = 'B'
elif 60 <= score <= 69:
    grade = 'C'
elif 50 <= score <= 59:
    grade = 'D'
elif 0 <= score <= 49:
    grade = 'F'
else:
    grade = 'Invalid score'

print("Grade:", grade)

Enter the student's score (0-100):  80

Grade: A

In [71]:
#b)
fruits = ['banana', 'orange', 'mango', 'lemon']
new_fruit = input("Enter a fruit: ").lower()

if new_fruit in fruits:
    print('That fruit already exists in the list')
else:
    fruits.append(new_fruit)
    print("Updated fruit list:", fruits)

Enter a fruit:  pineapple

Updated fruit list: ['banana', 'orange', 'mango', 'lemon', 'pineapple']

In [73]:
#c)
person = {
    'first_name': 'Tharaka',
    'last_name': 'Mahabage',
    'age': 250,
    'country': 'Sri Lanka',
    'is_marred': True,
    'skills': ['JavaScript', 'React', 'Node', 'MongoDB', 'Python'],
    'address': {
        'street': 'Space street',
        'zipcode': '02210'
    }
}

In [75]:
#d)
if 'skills' in person:
    skills_list = person['skills']
    mid_index = len(skills_list) // 2
    print("Middle skill:", skills_list[mid_index])

Middle skill: Node

In [77]:
#e)
if 'skills' in person:
    has_python = 'Python' in person['skills']
    print("Does the person have Python skill?", has_python)

Does the person have Python skill? True

In [ ]:
#8

In [79]:
#a)
for i in range(1, 8):
    print('#' * i)

#
##
###
####
#####
######
#######

In [81]:
#b)
for i in range(8):  # 8 rows
    for j in range(8):  # 8 columns
        print('#', end=' ')
    print()  # Newline after each row

# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #
# # # # # # # #

In [83]:
#c)
for i in range(11):
    print(f"{i} x {i} = {i * i}")

0 x 0 = 0
1 x 1 = 1
2 x 2 = 4
3 x 3 = 9
4 x 4 = 16
5 x 5 = 25
6 x 6 = 36
7 x 7 = 49
8 x 8 = 64
9 x 9 = 81
10 x 10 = 100

In [85]:
#d)
items = ['Python', 'Numpy', 'Pandas', 'Django', 'Flask']
for item in items:
    print(item)

Python
Numpy
Pandas
Django
Flask

In [87]:
#e)
for i in range(0, 101):
    if i % 2 == 0:
        print(i)

0
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
#9

In [89]:
#a)
def add_two_numbers(a, b):
    return a + b

print("Sum:", add_two_numbers(5, 3))  # Output: 8

Sum: 8

In [91]:
#b)
import math

def area_of_circle(radius):
    return math.pi * radius * radius

print("Area of circle with radius 7:", area_of_circle(7))

Area of circle with radius 7: 153.93804002589985

In [93]:
#c)
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n**0.5) + 1):  # Only check up to sqrt(n)
        if n % i == 0:
            return False
    return True


print("Is 7 prime?", is_prime(7))    # True
print("Is 10 prime?", is_prime(10))  # False

Is 7 prime? True
Is 10 prime? False